# Distribution repo whitelist.
# Ignore everything unless it is explicitly listed below.
*

# Repo metadata.
!.gitignore
!LICENSE
!Makefile
!MANIFEST.txt
!README.md
!requirements.txt

# Source SVG files.
!smooth-cp437_ibm-vga-14x14_src.svg
!smooth-cp437_df-12x12_src.svg
!smooth-cp437_df-14x14_src.svg

# Utility scripts.
!scripts/
!scripts/*.py

# Local/generated direct rasterizer outputs.
bitmap_df/
bmp_ibm-vga-14x14/
bmp_df-12x12/
bmp_df-14x14/
